nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 7px #eee;

}

nav a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;

}

ul li {
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav span {
    font-weight: bold;
}

.front-img {
    position: relative;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 3rem;
    color: white;
    padding: 10px;
}

.heading {
    position: absolute;
    bottom: 50%;
    left: 40%;
}

.heading span {
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bold;
}

section {
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

h4 {
    font-size: 1.4rem;
    padding: 10px;
}

.absolute {
    position: absolute;
    bottom: 80%;
    background: black;
    color: white;
}

.container img {
    width: 100%;
}

.w-25 {
    width: 23%;
    padding: 2px;
}


h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

p {
    font-size: 1.4rem;
}

.card {
    padding: 5px;
    width: 24%;
}

.card img {
    width: 100%;

}

button {
    width: 100%;
}